html,
body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 1 auto;
  min-height: 1px;
}

.ic-metamask::before {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  background: url(./ic-metamask.svg);
  background-size: cover;
  content: '';
}

.empty::before {
  display: block;
  width: 344px;
  height: 234px;
  margin: 0 auto 10px;
  background: url(./img-empty.webp);
  background-size: cover;
  content: '';
}

.empty.empty-sm::before {
  width: 220px;
  height: 150px;
}

.arrow {
  display: inline-block;
  padding: 3px;
  border: solid hsl(var(--bc));
  border-width: 0 3px 3px 0;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: transform 0.2s;
}
.arrow.arrow-up {
  transform: rotate(-135deg);
}

/* transition */
.show-down-enter-active,
.show-down-leave-active {
  transition: all 0.32s ease-in-out;
  max-height: 500px;
}

.show-down-enter-from,
.show-down-leave-to {
  overflow: hidden;
  opacity: 0;
  max-height: 0 !important;
}

.btn-white {
  background: hsl(var(--bc) / 0.9);
  border: none;
  color: hsl(var(--b3) / 0.9);
}
.btn-white:hover {
  background-color: #fff;
  color: hsl(var(--b3));
}
.btn-white:disabled {
  background-color: hsl(var(--n) / var(--tw-bg-opacity));
  border-color: transparent;
}
